<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" style="font-style: italic;font-weight: bold;" href="#">Django URL SHORTENER</a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" href="{% url 'home' %}">Home Page<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active"><a class="nav-link font-weight-bold" href="{% url 'create_url' %}">Shorten a url</a></li>
      {% if user.is_authenticated %}
        <li class="nav-item active"><a class="nav-link font-weight-bold" href="{% url 'my_urls' %}">My Urls</a></li>
        <li class="nav-item active"><a class="nav-link font-weight-bold" href="{% url 'account_logout' %}">Log Out</a></li>
      {% else %}
        <li class="nav-item active"><a class="nav-link font-weight-bold" href="{% url 'account_login' %}">Log In</a></li>
        <li class="nav-item active"><a class="nav-link font-weight-bold" href="{% url 'account_signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
